node_modules
.env
scripts/node_modules
scripts/.env
scripts/jido2018.json
.dat
index.html
index-pandoc.json
index.pdf
index.odt
diapos/intro-jido.html
diapos/intro-jido.pdf
diapos/robin-jido.html
diapos/robin-jido.pdf
scripts/jido2018-b.json
scripts/jido2018-c.json


